.rcb-container {
  display: flex;
  flex-direction: column;
  width: 22em;
  height: 80%;
  max-height: 550px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px #b5b5b5;
  background-color: white;
  border: none;
  position: fixed;
  bottom: 5.7em;
  right: 1.5em;
  animation: visible 0.5s;
}

.rcb-header {
  display: flex;
  flex: 0.7 1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
  min-height: 80px;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  border-radius: 10px 10px 0px 0px;
}

.rcb-conversation {
  width: 100%;
  height: 75%;
  flex: 6 6;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: whitesmoke;
}

.rcb-conversation::-webkit-scrollbar {
  width: 0 !important;
}

.rcb-new-message {
  display: flex;
  flex: 0.7 0.7;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  min-height: 60px;
}

.rcb-new-message input {
  width: 80%;
  border: none;
  padding: 5px;
  margin-left: 5px;
  font-size: 1em;
  outline: none;
}

.rcb-send-icon,
.rcb-icon-visible {
  max-width: 2em;
  opacity: 0.3;
  transition: opacity ease-in-out 0.5s;
  margin-left: auto;
  margin-right: 5px;
}

.rcb-icon-visible {
  opacity: 1;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .rcb-container {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
    max-height: none;
  }

  .rcb-header,
  .rcb-new-message {
    border-radius: 0;
  }

  .rcb-launcher-close {
    display: none;
  }

  .rcb-mobile-close {
    display: flex;
  }
}
